@import 'tailwindcss';

@theme {
  --color-disabled: initial;
  --color-disabled: #919eab;
  --color-secondary-50: #f3f2f2;
  --color-secondary: #637381;
  --color-brand-50: #e6f1ff;
  --color-brand-100: #cde4fe;
  --color-brand-500: #0373f3;
  --color-brand-600: #025fca;
  --color-brand-700: #024897;
  --color-brand-800: #013065;
  --color-primary: #1c252e;
  --color-error-dark: #b71d18;
  --color-error-darker: #7a0916;
  --shadow-z8: 0px 8px 16px 0px rgba(145, 158, 171, 0.16);
  --shadow-card: 0px 12px 24px -4px rgba(145, 158, 171, 0.12);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}
